div {border:3px ridge white; box-shadow: 5px 5px 5px #888888; 
  display:inline-block; margin:10px; }
p { background-image: -moz-linear-gradient(top , #B1B1B1, #FFFFFF); 
  background-image: -webkit-linear-gradient(top , #B1B1B1, #FFFFFF);
  background-image: -ms-linear-gradient(top , #B1B1B1, #FFFFFF);
  margin:0px; padding:3px; text-align:center; }
img { height:130px; vertical-align:top;  }
#images { background-color:black; padding:20px; }