canvas{ 
	height:50px; width: 200px; vertical-align:bottom; 
  border:3px solid black; background-color:black; margin:10px; }
label, span { 
	display:inline-block; text-align:right; width:160px;
  font:bold 24px/50px "Arial Black"; border-bottom:2px dotted; }
span{ 
	width:50px; color:blue; }